.profile-wrapper main{
    grid-template-columns: 100%;
    padding: 2em !important;
  }
  .profile-wrapper main > .settings-container{
    background-color: var(--color-lightest);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    max-width: 768px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  
  @media screen and (max-width: 992px) {
    .profile-container{
      width: 100%;
    }
    }
    