:root{

  /* COLOURS ========= */

  --bg-primary: rgb(61, 85, 204) !important;
  --bg-red: rgb(255, 0, 0);
  --color-darkest: rgb(20, 26, 51);
  --color-dark: rgb(20, 27, 51);
  --color-md: rgb(135, 140, 168);
  --color-lightest: rgb(255, 255, 255);
  --color-neutral-bg: rgb(251, 251, 253);
  --color-border: rgb(218, 222, 242);



  /* font sizes */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-md: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;


  /* padding sizes */

  --space-xxs: 8px;
  --space-xs: 12px;
  --space-base: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-4xl: 32px;
  --space-largest: 48px;


  --box-shadow: 0 4px 32px rgba(61, 85, 204, 10%);

}

.primary-btn{
  background-color: var(--bg-primary) !important;
  position: relative;
  color: var(--color-lightest);
  cursor: pointer;
  height: 56px;
  outline: none;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(61, 85, 204, 30%);
  font-weight: 600;
  font-size: var(--font-base);

}

.red-btn{
  background-color: var(--bg-red);
  position: relative;
  color: var(--color-lightest);
  cursor: pointer;
  height: 56px;
  outline: none;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(61, 85, 204, 30%);
  font-weight: 600;
  font-size: var(--font-base);

}
.primary-btn::before{
  background-blend-mode: lighten;
  content: '';
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  box-shadow: inset 0 4px 20px rgba(20, 26, 51, 25%);
}


/* Resets */
* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: var(--bg-primary);
}
body {
  font-size: var(--font-base);
  font-weight: 400;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
  color: #0D062D;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: var(--clr-neutral-bg);
}

.container{
  background-color: var(--color-neutral-bg);
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

input::placeholder{
  color: var(--color-md);
}

.main-container{
  width: 100%;
  height: 100%;
  background-color: var(--color-neutral-bg);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}


aside svg,aside svg *{
  stroke: var(--color-md);
}

.wrapper {
  display: flex;
  order: 3;
  overflow-x: hidden;
  background-color: inherit;
  height: calc(100vh - 96px);
}
.settings-wrapper{
  order: 3;
  overflow-x: hidden;
  background-color: inherit;
  height: calc(100vh - 96px);

}
@media screen and (min-width : 1600px) {
  .wrapper, .settings-wrapper{
    position: relative;
  }
  .wrapper main {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    height: 100%;
  }
  
}
@media screen and (max-width : 625px) {
  .wrapper main {
    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }
  .user_location_info{
    display: none;
  }
  .main-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 992px) {
  .wrapper main{
    grid-template-columns: 100%;
  }
  .settings-wrapper main{
    width: 100%;
  }
  .location_history{
    display: none;
  }
  .map-container{
    width: 100%;
  }
}